In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("../cia-factbook.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 67 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   country                                                           250 non-null    object
 1   country_comparison_infant_mortality_rate                          227 non-null    float64
 2   crude_oil_production                                              219 non-null    float64
 3   exports                                                           224 non-null    float64
 4   broadband_fixed_subscriptions                                     203 non-null    float64
 5   budget_surplus_deficit                                            222 non-null    float64
 6   carbon_dioxide_emissions_from_consumption_of_energy               213 non-null    float64
 7   country_comparison_airports                                       237 non-null    float64
 8   country_comparison_area                                           240 non-null    float64
 9   country_comparison_birth_rate                                     228 non-null    float64
 10  country_comparison_children_under_the_age_of_5_years_underweight  131 non-null    float64
 11  country_comparison_death_rate                                     228 non-null    float64
 12  country_comparison_education_expenditures                         170 non-null    float64
 13  country_comparison_hiv_aids_adult_prevalence_rate                 134 non-null    float64
 14  country_comparison_hiv_aids_deaths                                60 non-null     float64
 15  country_comparison_hiv_aids_people_living_with_hiv_aids           145 non-null    float64
 16  gdp_per_capita                                                    227 non-null    float64
 17  gdp_real_growth_rate                                              224 non-null    float64
 18  gross_national_saving                                             184 non-null    float64
 19  imports                                                           224 non-null    float64
 20  industrial_production_growth_rate                                 202 non-null    float64
 21  inflation_rate                                                    228 non-null    float64
 22  internet_users                                                    229 non-null    float64
 23  labor_force                                                       231 non-null    float64
 24  natural_gas_consumption                                           215 non-null    float64
 25  natural_gas_exports                                               215 non-null    float64
 26  natural_gas_imports                                               215 non-null    float64
 27  natural_gas_production                                            216 non-null    float64
 28  natural_gas_proved_reserves                                       209 non-null    float64
 29  public_debt                                                       210 non-null    float64
 30  refined_petroleum_products_consumption                            214 non-null    float64
 31  refined_petroleum_products_exports                                216 non-null    float64
 32  refined_petroleum_products_imports                                214 non-null    float64
 33  refined_petroleum_products_production                             216 non-null    float64
 34  reserves_of_foreign_exchange_and_gold                             195 non-null    float64
 35  taxes_and_other_revenues                                          221 non-null    float64
 36  telephones_fixed_lines                                            225 non-null    float64
 37  telephones_mobile_cellular                                        219 non-null    float64
 38  unemployment_rate                                                 219 non-null    float64
 39  crude_oil_proved_reserves                                         214 non-null    float64
 40  current_account_balance                                           206 non-null    float64
 41  debt_external                                                     207 non-null    float64
 42  electricity_consumption                                           218 non-null    float64
 43  electricity_exports                                               218 non-null    float64
 44  electricity_from_fossil_fuels                                     214 non-null    float64
 45  electricity_from_hydroelectric_plants                             214 non-null    float64
 46  electricity_from_nuclear_fuels                                    214 non-null    float64
 47  electricity_from_other_renewable_sources                          213 non-null    float64
 48  electricity_imports                                               218 non-null    float64
 49  electricity_installed_generating_capacity                         214 non-null    float64
 50  electricity_production                                            219 non-null    float64
 51  country_comparison_life_expectancy_at_birth                       227 non-null    float64
 52  country_comparison_maternal_mortality_rate                        184 non-null    float64
 53  country_comparison_median_age                                     227 non-null    float64
 54  country_comparison_merchant_marine                                182 non-null    float64
 55  country_comparison_military_expenditures                          158 non-null    float64
 56  country_comparison_net_migration_rate                             227 non-null    float64
 57  country_comparison_obesity_adult_prevalence_rate                  192 non-null    float64
 58  country_comparison_population                                     237 non-null    float64
 59  country_comparison_population_growth_rate                         236 non-null    float64
 60  country_comparison_railways                                       136 non-null    float64
 61  country_comparison_roadways                                       224 non-null    float64
 62  country_comparison_total_fertility_rate                           227 non-null    float64
 63  country_comparison_unemployment_youth_ages_15_24                  181 non-null    float64
 64  country_comparison_waterways                                      107 non-null    float64
 65  crude_oil_exports                                                 217 non-null    float64
 66  crude_oil_imports                                                 217 non-null    float64
dtypes: float64(66), object(1)
memory usage: 131.0+ KB

In [4]:
df.head()

,country,country_comparison_infant_mortality_rate,crude_oil_production,exports,broadband_fixed_subscriptions,budget_surplus_deficit,carbon_dioxide_emissions_from_consumption_of_energy,country_comparison_airports,country_comparison_area,country_comparison_birth_rate,...,country_comparison_obesity_adult_prevalence_rate,country_comparison_population,country_comparison_population_growth_rate,country_comparison_railways,country_comparison_roadways,country_comparison_total_fertility_rate,country_comparison_unemployment_youth_ages_15_24,country_comparison_waterways,crude_oil_exports,crude_oil_imports
0,Afghanistan,104.3,0.0,7.840000e+08,15999.0,-15.1,9067000.0,46.0,652230.0,36.7,...,5.5,36643815.0,2.38,NaN,34903.0,4.82,17.6,1200.0,0.0,0.0
1,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,1.0,123.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,10.8,14000.0,9.007000e+08,361947.0,-2.0,4500000.0,3.0,28748.0,13.0,...,21.7,3074579.0,0.28,677.0,3945.0,1.53,31.9,41.0,17290.0,0.0
3,Algeria,17.6,1259000.0,3.437000e+10,3067022.0,-9.6,135900000.0,149.0,2381740.0,20.0,...,27.4,42972878.0,1.52,3973.0,104000.0,2.59,39.3,NaN,756400.0,5340.0
4,American-Samoa,9.9,0.0,4.280000e+08,NaN,-2.1,361100.0,3.0,224.0,17.8,...,NaN,49437.0,-1.40,NaN,241.0,2.35,NaN,NaN,0.0,0.0

In [5]:
df.describe()

,country_comparison_infant_mortality_rate,crude_oil_production,exports,broadband_fixed_subscriptions,budget_surplus_deficit,carbon_dioxide_emissions_from_consumption_of_energy,country_comparison_airports,country_comparison_area,country_comparison_birth_rate,country_comparison_children_under_the_age_of_5_years_underweight,...,country_comparison_obesity_adult_prevalence_rate,country_comparison_population,country_comparison_population_growth_rate,country_comparison_railways,country_comparison_roadways,country_comparison_total_fertility_rate,country_comparison_unemployment_youth_ages_15_24,country_comparison_waterways,crude_oil_exports,crude_oil_imports
count,227.000000,2.190000e+02,2.240000e+02,2.030000e+02,222.000000,2.130000e+02,237.000000,2.400000e+02,228.000000,131.000000,...,192.000000,2.370000e+02,236.000000,136.000000,2.240000e+02,227.000000,181.000000,107.000000,2.170000e+02,2.170000e+02
mean,19.720264,3.794760e+05,1.144929e+11,5.265964e+06,-3.365315,1.763039e+08,173.797468,6.263791e+05,18.350877,11.156489,...,19.880729,3.242091e+07,0.955000,9719.669118,1.697163e+05,2.464229,18.151381,6064.308411,1.959116e+05,2.071905e+05
std,19.285467,1.418810e+06,3.153514e+11,3.004216e+07,8.354093,9.045993e+08,933.608809,1.958893e+06,9.290223,9.361493,...,11.432112,1.303887e+08,1.180323,29784.351570,6.623220e+05,1.177068,12.233145,16181.425293,7.368318e+05,8.366294e+05
min,1.700000,0.000000e+00,0.000000e+00,2.000000e+02,-75.700000,1.050000e+02,1.000000,1.400000e+01,6.400000,0.500000,...,2.100000,5.000000e+01,-6.680000,9.000000,0.000000e+00,0.870000,0.400000,5.000000,0.000000e+00,0.000000e+00
25%,5.550000,0.000000e+00,8.100250e+08,1.975900e+04,-4.775000,1.760000e+06,6.000000,2.007500e+03,11.375000,3.100000,...,9.350000,3.377210e+05,0.237500,679.250000,2.384500e+03,1.710000,8.700000,583.500000,0.000000e+00,0.000000e+00
50%,11.400000,0.000000e+00,5.909500e+09,3.061500e+05,-2.350000,1.004000e+07,29.000000,6.998650e+04,15.400000,9.600000,...,20.600000,5.467439e+06,0.870000,2366.000000,2.041950e+04,1.970000,14.900000,1300.000000,0.000000e+00,0.000000e+00
75%,29.000000,4.300000e+04,6.314775e+10,2.360108e+06,-0.400000,5.607000e+07,96.000000,4.146432e+05,23.000000,16.950000,...,25.625000,2.119663e+07,1.722500,5568.500000,8.684525e+04,2.850000,25.900000,3848.500000,1.457000e+04,5.540000e+04
max,104.300000,1.096200e+07,2.490000e+12,4.073820e+08,25.600000,1.167000e+10,13513.000000,1.709824e+07,47.500000,39.900000,...,61.000000,1.394016e+09,4.250000,293564.000000,6.586610e+06,7.000000,56.700000,110000.000000,7.341000e+06,7.969000e+06